@model BookAway.Models.Hotel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalOfRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOfRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentPerRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentPerRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelOwner1.HOwnerUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelOwner1.HOwnerUsername)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
